# trabalhando com banco de dados me deseje sorte!!!


### oo

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("primeiro_banco_dados.db") 

print(conn)

<sqlite3.Connection object at 0x0000023E3F7D2A80>

In [3]:
cursor = conn.cursor()

#criando a tabela vamos começar a brincadeira...

In [6]:
cursor.execute("SELECT * FROM dados_cadastrais")
cursor.fetchall()

[]

# ALTER TABLE _nometabela ADD COLUMN nome e tipo

In [15]:
cursor.execute("DROP TABLE dados_cadastrais")

In [16]:
cursor.execute("CREATE TABLE dados_cadastrais (user_id integer, nome text, sobrenome text, data_nascimento integer,cpf integer, endereço text)")

In [18]:
cursor.execute("INSERT INTO dados_cadastrais VALUES(1, 'maria', 'silva', 0, '11111211313', 'Rua 1 - SP')")
cursor.execute("INSERT INTO dados_cadastrais VALUES(2, 'joao', 'silva', 0, '11111211889', 'Rua 2 - SP')")
cursor.execute("INSERT INTO dados_cadastrais VALUES(3, 'pedro', 'pereira', 0, '11111211786', 'Rua 8 - SP')")
cursor.execute("INSERT INTO dados_cadastrais VALUES(4, 'paulo', 'ribeiro', 0, '11111211123', 'Rua 9 - SP')")
conn.commit()

In [24]:
cursor.execute("DROP TABLE dados_profissionais")

In [25]:
cursor.execute("CREATE TABLE dados_profissionais (user_id integer, graduaçao text, cargo text, salario integer, tempo_casa)")

In [26]:
cursor.execute("INSERT INTO dados_profissionais VALUES(1, 'matematica', 'professor', 3500.89, 3)")
cursor.execute("INSERT INTO dados_profissionais VALUES(2, 'geografia', 'orientador', 2850.80, 1)")
cursor.execute("INSERT INTO dados_profissionais VALUES(3, 'historia', 'orientador', 3200.45, 1)")
cursor.execute("INSERT INTO dados_profissionais VALUES(4, 'matematica', 'professor', 1890.33, 2)")
conn.commit()

In [27]:
# tabela motadas... agora vamos brincar com elas um pouco.

#fazer os testes... primeiro teste, Ordem decrescente do tempo de casa

In [30]:
cursor.execute("SELECT * FROM dados_profissionais ORDER BY tempo_casa DESC")
cursor.fetchall()

[(1, 'matematica', 'professor', 3500.89, 3),
 (4, 'matematica', 'professor', 1890.33, 2),
 (2, 'geografia', 'orientador', 2850.8, 1),
 (3, 'historia', 'orientador', 3200.45, 1)]

In [34]:
# hora da matematica ... vamos contar os funcionarios ... engraçado mesmo eu limpando a tabela... continua somando whats????

cursor.execute("SELECT COUNT(user_id) FROM dados_profissionais")
cursor.fetchall()

[(4,)]

In [37]:
# Vamos selecionar os silvas... 

cursor.execute("SELECT * FROM dados_cadastrais WHERE sobrenome = 'silva' ORDER BY nome,sobrenome ")
cursor.fetchall()

[(2, 'joao', 'silva', 0, 11111211889, 'Rua 2 - SP'),
 (2, 'joao', 'silva', 0, 11111211889, 'Rua 2 - SP'),
 (1, 'maria', 'silva', 0, 11111211313, 'Rua 1 - SP'),
 (1, 'maria', 'silva', 0, 11111211313, 'Rua 1 - SP')]

In [46]:
# agora somar os valores por cargo 

cursor.execute("SELECT cargo, SUM(salario)FROM dados_profissionais GROUP BY cargo ")
cursor.fetchall()

[('orientador', 6051.25), ('professor', 5391.219999999999)]