# nivel de dificuldade bem alto... vamos ver conseguimos fazer!!!

In [4]:
import numpy as np
import pandas as pd

#####  Considere os arrays numpy X, y abaixo:

In [5]:
from sklearn.datasets import load_iris

x = load_iris().data
y = load_iris().target

In [6]:
x[:10]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1]])

In [7]:
y[:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [8]:
import __main__

#### respira que está so começando!!!
__Exercício 1:__ Crie um dataframe df do pandas a partir de X, y. Primeiro, concatene os arrays numpy. Na sequência transforme o array final para um dataframe. Altere o nome das colunas para 'X1', 'X2', 'X3', 'X4' e 'target'.

Exercício 2: Usando o df criano no exercício 1, calcule qual a média da variável 'X2', para cada valor de target. Dica: Use a função groupby no dataframe df para resolver.

Exercício 3: Construa um dicionário mapeando os valores:

    0 - 'A'

    1 - 'B'

    2 - 'C'

Usando a função map, crie uma coluna nova no dataframe df chamada 'target_2' com o mapeamento feito. Dica: Use a função map como visto em aula.

Exercício 4:

4.1: Filtre o dataframe df onde X1 é maior do que 6 ou target é diferente de 2 e chame-o de df1. Dica: usar os filtros e os operadores vistos em aula;

4.2: Filtre os primeiros 15 índices do dataframe df e chame-o de df2;

4.3: Transformando os dataframes df1 e df2 para arrays. Multiplique df1 pelo transposto de df2 (use a função que calcula transposta de matriz) e printe o resultado final. Lembre-se de dropar a coluna target_2 de cada um dos dataframes antes de fazer a mutliplicação.

Exercício 5:

5.1: Crie uma função que receba um número inteiro positivo N e retorne um array 0, 1, ..., N. Dica: Use as funções que vimos para criação de arrays;

5.2: Crie uma função que receba um array [0,1, .., N] e retorne o mesmo array, só que com os números em posições aleatórias. Dica: use a função que vimos em aula que faz escolhas aleatórias SEM reposição;

5.3: Crie uma função que receba um número inteiro positivo N. Essa função deve retornar um array de tamanho N, cujos valores são números inteiros entre 0 e N-1 e pode haver repetição desses números.

Exercício 6: Construa uma função divide_dados:

    - recebe um array X de dimensões quaisquer (n,k) e um parâmetro p entre 0 e 1.
    - divide o array X em duas partes disjuntas de forma aleatória. Ou seja, crie dois novos arrays, X1 e X2,
    onde a dimensão de linhas de X1 somada com a dimensão de linhas de X2 deve ser igual a dimensão de linhas de X.
    - interpretando p como percentual, o tamanho de X1 deve ser p*100% do número de linhas de X; enquanto X2 deve ser o resto.
    - retorne esses dois arrays.

In [9]:
# exercicio 1 criando data frame (df), Primeiro, concatene os arrays numpy.

type(x)
type(y)

numpy.ndarray

In [10]:
array_c_ = np.c_[x,y]

print(array_c_)

print(array_c_.shape)

[[5.1 3.5 1.4 0.2 0. ]
 [4.9 3.  1.4 0.2 0. ]
 [4.7 3.2 1.3 0.2 0. ]
 [4.6 3.1 1.5 0.2 0. ]
 [5.  3.6 1.4 0.2 0. ]
 [5.4 3.9 1.7 0.4 0. ]
 [4.6 3.4 1.4 0.3 0. ]
 [5.  3.4 1.5 0.2 0. ]
 [4.4 2.9 1.4 0.2 0. ]
 [4.9 3.1 1.5 0.1 0. ]
 [5.4 3.7 1.5 0.2 0. ]
 [4.8 3.4 1.6 0.2 0. ]
 [4.8 3.  1.4 0.1 0. ]
 [4.3 3.  1.1 0.1 0. ]
 [5.8 4.  1.2 0.2 0. ]
 [5.7 4.4 1.5 0.4 0. ]
 [5.4 3.9 1.3 0.4 0. ]
 [5.1 3.5 1.4 0.3 0. ]
 [5.7 3.8 1.7 0.3 0. ]
 [5.1 3.8 1.5 0.3 0. ]
 [5.4 3.4 1.7 0.2 0. ]
 [5.1 3.7 1.5 0.4 0. ]
 [4.6 3.6 1.  0.2 0. ]
 [5.1 3.3 1.7 0.5 0. ]
 [4.8 3.4 1.9 0.2 0. ]
 [5.  3.  1.6 0.2 0. ]
 [5.  3.4 1.6 0.4 0. ]
 [5.2 3.5 1.5 0.2 0. ]
 [5.2 3.4 1.4 0.2 0. ]
 [4.7 3.2 1.6 0.2 0. ]
 [4.8 3.1 1.6 0.2 0. ]
 [5.4 3.4 1.5 0.4 0. ]
 [5.2 4.1 1.5 0.1 0. ]
 [5.5 4.2 1.4 0.2 0. ]
 [4.9 3.1 1.5 0.2 0. ]
 [5.  3.2 1.2 0.2 0. ]
 [5.5 3.5 1.3 0.2 0. ]
 [4.9 3.6 1.4 0.1 0. ]
 [4.4 3.  1.3 0.2 0. ]
 [5.1 3.4 1.5 0.2 0. ]
 [5.  3.5 1.3 0.3 0. ]
 [4.5 2.3 1.3 0.3 0. ]
 [4.4 3.2 1.3 0.2 0. ]
 [5.  3.5 1.6 0.6 0. ]
 [5.1 3.8 1.9 0.4 0. ]
 [4.8 3.  1.4 0.3 0. ]
 [5.1 3.8 1.6 0.2 0. ]
 [4.6 3.2 1.4 0.2 0. ]
 [5.3 3.7 1.5 0.2 0. ]
 [5.  3.3 1.4 0.2 0. ]
 [7.  3.2 4.7 1.4 1. ]
 [6.4 3.2 4.5 1.5 1. ]
 [6.9 3.1 4.9 1.5 1. ]
 [5.5 2.3 4.  1.3 1. ]
 [6.5 2.8 4.6 1.5 1. ]
 [5.7 2.8 4.5 1.3 1. ]
 [6.3 3.3 4.7 1.6 1. ]
 [4.9 2.4 3.3 1.  1. ]
 [6.6 2.9 4.6 1.3 1. ]
 [5.2 2.7 3.9 1.4 1. ]
 [5.  2.  3.5 1.  1. ]
 [5.9 3.  4.2 1.5 1. ]
 [6.  2.2 4.  1.  1. ]
 [6.1 2.9 4.7 1.4 1. ]
 [5.6 2.9 3.6 1.3 1. ]
 [6.7 3.1 4.4 1.4 1. ]
 [5.6 3.  4.5 1.5 1. ]
 [5.8 2.7 4.1 1.  1. ]
 [6.2 2.2 4.5 1.5 1. ]
 [5.6 2.5 3.9 1.1 1. ]
 [5.9 3.2 4.8 1.8 1. ]
 [6.1 2.8 4.  1.3 1. ]
 [6.3 2.5 4.9 1.5 1. ]
 [6.1 2.8 4.7 1.2 1. ]
 [6.4 2.9 4.3 1.3 1. ]
 [6.6 3.  4.4 1.4 1. ]
 [6.8 2.8 4.8 1.4 1. ]
 [6.7 3.  5.  1.7 1. ]
 [6.  2.9 4.5 1.5 1. ]
 [5.7 2.6 3.5 1.  1. ]
 [5.5 2.4 3.8 1.1 1. ]
 [5.5 2.4 3.7 1.  1. ]
 [5.8 2.7 3.9 1.2 1. ]
 [6.  2.7 5.1 1.6 1. ]
 [5.4 3.  4.5 1.5 1. ]
 [6.  3.4 4.5 1.6 1. ]
 [6.7 3.1 4.7 1.5 1. ]
 [6.3 2.3 4.4 1.3 1. ]
 [5.6 3.  4.1 1.3 1. ]
 [5.5 2.5 4.  1.3 1. ]
 [5.5 2.6 4.4 1.2 1. ]
 [6.1 3.  4.6 1.4 1. ]
 [5.8 2.6 4.  1.2 1. ]
 [5.  2.3 3.3 1.  1. ]
 [5.6 2.7 4.2 1.3 1. ]
 [5.7 3.  4.2 1.2 1. ]
 [5.7 2.9 4.2 1.3 1. ]
 [6.2 2.9 4.3 1.3 1. ]
 [5.1 2.5 3.  1.1 1. ]
 [5.7 2.8 4.1 1.3 1. ]
 [6.3 3.3 6.  2.5 2. ]
 [5.8 2.7 5.1 1.9 2. ]
 [7.1 3.  5.9 2.1 2. ]
 [6.3 2.9 5.6 1.8 2. ]
 [6.5 3.  5.8 2.2 2. ]
 [7.6 3.  6.6 2.1 2. ]
 [4.9 2.5 4.5 1.7 2. ]
 [7.3 2.9 6.3 1.8 2. ]
 [6.7 2.5 5.8 1.8 2. ]
 [7.2 3.6 6.1 2.5 2. ]
 [6.5 3.2 5.1 2.  2. ]
 [6.4 2.7 5.3 1.9 2. ]
 [6.8 3.  5.5 2.1 2. ]
 [5.7 2.5 5.  2.  2. ]
 [5.8 2.8 5.1 2.4 2. ]
 [6.4 3.2 5.3 2.3 2. ]
 [6.5 3.  5.5 1.8 2. ]
 [7.7 3.8 6.7 2.2 2. ]
 [7.7 2.6 6.9 2.3 2. ]
 [6.  2.2 5.  1.5 2. ]
 [6.9 3.2 5.7 2.3 2. ]
 [5.6 2.8 4.9 2.  2. ]
 [7.7 2.8 6.7 2.  2. ]
 [6.3 2.7 4.9 1.8 2. ]
 [6.7 3.3 5.7 2.1 2. ]
 [7.2 3.2 6.  1.8 2. ]
 [6.2 2.8 4.8 1.8 2. ]
 [6.1 3.  4.9 1.8 2. ]
 [6.4 2.8 5.6 2.1 2. ]
 [7.2 3.  5.8 1.6 2. ]
 [7.4 2.8 6.1 1.9 2. ]
 [7.9 3.8 6.4 2.  2. ]
 [6.4 2.8 5.6 2.2 2. ]
 [6.3 2.8 5.1 1.5 2. ]
 [6.1 2.6 5.6 1.4 2. ]
 [7.7 3.  6.1 2.3 2. ]
 [6.3 3.4 5.6 2.4 2. ]
 [6.4 3.1 5.5 1.8 2. ]
 [6.  3.  4.8 1.8 2. ]
 [6.9 3.1 5.4 2.1 2. ]
 [6.7 3.1 5.6 2.4 2. ]
 [6.9 3.1 5.1 2.3 2. ]
 [5.8 2.7 5.1 1.9 2. ]
 [6.8 3.2 5.9 2.3 2. ]
 [6.7 3.3 5.7 2.5 2. ]
 [6.7 3.  5.2 2.3 2. ]
 [6.3 2.5 5.  1.9 2. ]
 [6.5 3.  5.2 2.  2. ]
 [6.2 3.4 5.4 2.3 2. ]
 [5.9 3.  5.1 1.8 2. ]]
(150, 5)

In [12]:
# Na sequência transforme o array final para um dataframe. Altere o nome das colunas para 'X1', 'X2', 'X3', 'X4' e 'target'.

df = pd.DataFrame(array_c_, columns=['X1', 'X2', 'X3', 'X4', 'target'])
df

      X1   X2   X3   X4  target
0    5.1  3.5  1.4  0.2     0.0
1    4.9  3.0  1.4  0.2     0.0
2    4.7  3.2  1.3  0.2     0.0
3    4.6  3.1  1.5  0.2     0.0
4    5.0  3.6  1.4  0.2     0.0
..   ...  ...  ...  ...     ...
145  6.7  3.0  5.2  2.3     2.0
146  6.3  2.5  5.0  1.9     2.0
147  6.5  3.0  5.2  2.0     2.0
148  6.2  3.4  5.4  2.3     2.0
149  5.9  3.0  5.1  1.8     2.0

[150 rows x 5 columns]

In [13]:
df.head()

    X1   X2   X3   X4  target
0  5.1  3.5  1.4  0.2     0.0
1  4.9  3.0  1.4  0.2     0.0
2  4.7  3.2  1.3  0.2     0.0
3  4.6  3.1  1.5  0.2     0.0
4  5.0  3.6  1.4  0.2     0.0

In [14]:
df[:10]

    X1   X2   X3   X4  target
0  5.1  3.5  1.4  0.2     0.0
1  4.9  3.0  1.4  0.2     0.0
2  4.7  3.2  1.3  0.2     0.0
3  4.6  3.1  1.5  0.2     0.0
4  5.0  3.6  1.4  0.2     0.0
5  5.4  3.9  1.7  0.4     0.0
6  4.6  3.4  1.4  0.3     0.0
7  5.0  3.4  1.5  0.2     0.0
8  4.4  2.9  1.4  0.2     0.0
9  4.9  3.1  1.5  0.1     0.0

#   Exercício 2: Usando o df criano no exercício 1, calcule qual a média da variável 'X2', para cada valor de target. 
Dica: Use a função groupby no dataframe df para resolver.

In [15]:
df.groupby(['target']).mean()

           X1     X2     X3     X4
target
0.0     5.006  3.428  1.462  0.246
1.0     5.936  2.770  4.260  1.326
2.0     6.588  2.974  5.552  2.026

In [16]:
calculo_med = df[['X2','target']].groupby(['target']).mean()
print(calculo_med)

           X2
target
0.0     3.428
1.0     2.770
2.0     2.974

In [17]:
df[['X2','target']].groupby(['target']).mean()

           X2
target
0.0     3.428
1.0     2.770
2.0     2.974

 # Exercício 3: Construa um dicionário mapeando os valores:

0 - 'A'

1 - 'B'

2 - 'C'

Usando a função map, crie uma coluna nova no dataframe df chamada 'target_2' com o mapeamento feito. 
Dica: Use a função map como visto em aula.

In [18]:
df['targe2'] = df['target'].map({0:'A', 1:'B', 2: 'C'})
df

      X1   X2   X3   X4  target targe2
0    5.1  3.5  1.4  0.2     0.0      A
1    4.9  3.0  1.4  0.2     0.0      A
2    4.7  3.2  1.3  0.2     0.0      A
3    4.6  3.1  1.5  0.2     0.0      A
4    5.0  3.6  1.4  0.2     0.0      A
..   ...  ...  ...  ...     ...    ...
145  6.7  3.0  5.2  2.3     2.0      C
146  6.3  2.5  5.0  1.9     2.0      C
147  6.5  3.0  5.2  2.0     2.0      C
148  6.2  3.4  5.4  2.3     2.0      C
149  5.9  3.0  5.1  1.8     2.0      C

[150 rows x 6 columns]

#    Exercício 4:

4.1: Filtre o dataframe df onde X1 é maior do que 6 ou target é diferente de 2 e chame-o de df1. Dica: usar os filtros e os operadores vistos em aula;

4.2: Filtre os primeiros 15 índices do dataframe df e chame-o de df2;

4.3: Transformando os dataframes df1 e df2 para arrays. 
Multiplique df1 pelo transposto de df2 (use a função que calcula transposta de matriz) e printe o resultado final. 
Lembre-se de dropar a coluna target_2 de cada um dos dataframes antes de fazer a mutliplicação.

In [19]:
df1 = df[(df.X1 > 6) | (df.target != 2)]
df1

      X1   X2   X3   X4  target targe2
0    5.1  3.5  1.4  0.2     0.0      A
1    4.9  3.0  1.4  0.2     0.0      A
2    4.7  3.2  1.3  0.2     0.0      A
3    4.6  3.1  1.5  0.2     0.0      A
4    5.0  3.6  1.4  0.2     0.0      A
..   ...  ...  ...  ...     ...    ...
144  6.7  3.3  5.7  2.5     2.0      C
145  6.7  3.0  5.2  2.3     2.0      C
146  6.3  2.5  5.0  1.9     2.0      C
147  6.5  3.0  5.2  2.0     2.0      C
148  6.2  3.4  5.4  2.3     2.0      C

[141 rows x 6 columns]

In [20]:
df2 = df[:15]
df2

     X1   X2   X3   X4  target targe2
0   5.1  3.5  1.4  0.2     0.0      A
1   4.9  3.0  1.4  0.2     0.0      A
2   4.7  3.2  1.3  0.2     0.0      A
3   4.6  3.1  1.5  0.2     0.0      A
4   5.0  3.6  1.4  0.2     0.0      A
5   5.4  3.9  1.7  0.4     0.0      A
6   4.6  3.4  1.4  0.3     0.0      A
7   5.0  3.4  1.5  0.2     0.0      A
8   4.4  2.9  1.4  0.2     0.0      A
9   4.9  3.1  1.5  0.1     0.0      A
10  5.4  3.7  1.5  0.2     0.0      A
11  4.8  3.4  1.6  0.2     0.0      A
12  4.8  3.0  1.4  0.1     0.0      A
13  4.3  3.0  1.1  0.1     0.0      A
14  5.8  4.0  1.2  0.2     0.0      A

In [21]:
df1_array = np.array(df1.drop('targe2', axis=1))

In [22]:
df2_array = np.array(df2.drop('targe2', axis=1))

In [23]:
resultado = np.dot(df1_array, df2_array.T)
print(resultado)

[[40.26 37.49 37.03 ... 36.96 33.99 45.3 ]
 [37.49 35.01 34.49 ... 34.5  31.63 42.14]
 [37.03 34.49 34.06 ... 34.   31.26 41.66]
 ...
 [48.26 45.75 44.49 ... 44.93 40.28 52.92]
 [51.33 48.53 47.31 ... 47.68 42.87 56.34]
 [51.54 48.6  47.5  ... 47.75 43.03 56.5 ]]

###   Exercício 5:

5.1: Crie uma função que receba um número inteiro positivo N e retorne um array 0, 1, ..., N. 
    Dica: Use as funções que vimos para criação de arrays;

5.2: Crie uma função que receba um array [0,1, .., N] e retorne o mesmo array, só que com os números em posições aleatórias. 
    Dica: use a função que vimos em aula que faz escolhas aleatórias SEM reposição;

5.3: Crie uma função que receba um número inteiro positivo N. 
    Essa função deve retornar um array de tamanho N, cujos valores são números inteiros entre 0 e N-1 e pode haver repetição desses números.

In [25]:
def cria_array(N):
    array= np.arange(N+1)
    return array

arrX = cria_array(100)
print(arrX)

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100]

In [26]:
def random_array():
    copia = arrX
    np.random.shuffle(copia)
    return copia

copia = random_array()
print(copia)

[ 30  96  81  90  80   4  17  95  57  11  54  34  99  67  50  94  20  42
  68   3  77  18  10  74   6  51  87  82  98  26  91  83  75  89  21   0
  19  66  45  27   2  33  41  52  71  59  55  53   8  62  37  47   7  13
  85  84  48 100  63  69  24  93  35  58  78  16   1  56  25  39  23   9
  92  29  38  76  70  46  65  43  44  12  32  88  97  49  28  60   5  22
  73  15  86  36  64  40  79  72  14  61  31]

In [90]:
def cria_array():
    try:
        N = int(input('coloque o numero inteiro desejado:  '))
        array= np.arange(N-1)
        return array

    except:
        ('por favor coloca numero inteiro né???')

arrX = cria_array()
print(arrX)

coloque o numero inteiro desejado:  100
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98]

###   Exercício 6: Construa uma função divide_dados:

- recebe um array X de dimensões quaisquer (n,k) e um parâmetro p entre 0 e 1.
- divide o array X em duas partes disjuntas de forma aleatória. Ou seja, crie dois novos arrays, X1 e X2,
onde a dimensão de linhas de X1 somada com a dimensão de linhas de X2 deve ser igual a dimensão de linhas de X.
- interpretando p como percentual, o tamanho de X1 deve ser p*100% do número de linhas de X; enquanto X2 deve ser o resto.
- retorne esses dois arrays.

In [69]:
def dividir_dados():
    try:
        N = int(input('coloque o numero inteiro desejado:  '))
        n = np.arange(N)
        k = int(input('coloque o numero inteiro desejado:  '))
        final_array = np.array_split(n,k);
        return final_array
    except:
        ('por favor coloca numero inteiro né???')

dividir_dados()

coloque o numero inteiro desejado:  12
coloque o numero inteiro desejado:  3

[array([0, 1, 2, 3]), array([4, 5, 6, 7]), array([ 8,  9, 10, 11])]

In [88]:
def embaralhar(p):
    try:
        N = int(input('coloque o numero inteiro desejado:  '))
        copia = np.arange(N)
        print(copia)
                        
        np.random.shuffle(copia)
        max = int(len(copia)*p)
        X1 = copia[:max]
        X2 = copia[max:]
        return X1, X2 
    except:
        ('por favor coloca numero inteiro né???')

embaralhar(0.5)

coloque o numero inteiro desejado:  12
[ 0  1  2  3  4  5  6  7  8  9 10 11]

(array([11,  0,  1,  7,  8, 10]), array([5, 9, 6, 3, 2, 4]))

In [89]:
embaralhar(1)

coloque o numero inteiro desejado:  20
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

(array([13,  1, 18,  5,  4, 19,  9,  8, 14, 10,  0, 15,  6,  2, 12, 11, 17,
         7,  3, 16]),
 array([], dtype=int32))

In [90]:
embaralhar(0.25)

coloque o numero inteiro desejado:  15
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]

(array([11, 14,  1]), array([12,  2,  4, 10,  8, 13,  0,  3,  9,  5,  7,  6]))

In [91]:
embaralhar(0.50)

coloque o numero inteiro desejado:  33
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32]

(array([23,  4, 16,  5, 19, 25, 18, 22,  8,  1, 14, 26,  2,  3, 11, 17]),
 array([10, 15,  7, 32, 20, 30, 12, 28, 27,  0, 21, 13,  9, 29, 24, 31,  6]))

In [92]:
embaralhar(0.72)

coloque o numero inteiro desejado:  10
[0 1 2 3 4 5 6 7 8 9]

(array([1, 5, 2, 0, 8, 3, 4]), array([6, 9, 7]))

In [102]:

matriz = np.array_split(final_array, 10)

print(matriz[0])
print(matriz[1])
print(matriz[2])

[[0 1 2 3 4]]
[[5 6 7 8 9]]
[]

In [1]:
def divide_dados(X,p):
    np.random.shuffle(X)
    X1 = X[:int(X.shape[0]*p)]
    X2 = X[int(X.shape[0]*p):]
    return X1, X2
print("The Final List is:", divide_dados)

The Final List is: <function divide_dados at 0x000001808A69D8B0>

In [3]:
divide_dados(copia,arrx)

NameError: name 'copia' is not defined

In [48]:
array = np.array([1, 2, 3, 4, 5, 6, 7, 8])
matriz = np.array_split(array, 3)

print(matriz[0])
print(matriz[1])
print(matriz[2])

[1 2 3]
[4 5 6]
[7 8]