# 1 - Utilizando Comando SQl, apresente a instrução que resolva os seguintes problemas propostos:


    Funcionarios (codigo, firstname, midlename, lastname, DataNasci, CPF, RG, Endereço, CEP, Cidade, Fone, Departamento.Cod, Funcao, Salario)
    Departamentos (Codigo, Nome, localizacao, CodigoFuncionarioGerente)

In [1]:
import sqlite3
# Conectando um banco de dados
#banco = sqlite3.connect(':memory:')
banco = sqlite3.connect('bancoteste.db')

In [2]:
# Criando um cursor para operar comandos SQL
cursor = banco.cursor()

In [20]:
# Criando uma tabela 'estudantes' com as campos nomeEstudante, idade, email
cursor.execute("CREATE TABLE FichaCadastral (Código integer, Nome text, Idade integer, CPF, RG, DataNasci, Sexo texto, Signo text, Mãe text, Pai text, Email text, senha text, CEP, Endereço text, numero integer, bairro text, Cidade text, Estado text, Telefone , celular, altura integer, peso, TipodeSangue text, CorFavorita text)")

In [21]:
# Inserindo dados na tabela
cursor.execute("INSERT INTO FichaCadastral VALUES('01', 'Igor Ruan Benício Aparício', 49, '027.934.922-05', 470105-03,'05/01/1973','Masculino','Capricórnio','Sophia Hadassa Andreia','Ricardo Vitor Márcio Aparício', 'igorruanbenicioaparicio_@yahool.com.br','hCHR9bq6t4', '71640-015', 'Quadra SHIS QL 14 Conjunto 1','768', 'Setor de Habitações Individuais Sul', 'Brasília','DF','(61)3537-0108','(61)98667-1308','1,87','64','O-','vermelho')")
banco.commit()

In [22]:
# Consulta dados da tabela 'departamentos'
cursor.execute("SELECT * FROM FichaCadastral")
print (cursor.fetchall())

[(1, 'Igor Ruan Benício Aparício', 49, '027.934.922-05', 470102, '05/01/1973', 'Masculino', 'Capricórnio', 'Sophia Hadassa Andreia', 'Ricardo Vitor Márcio Aparício', 'igorruanbenicioaparicio_@yahool.com.br', 'hCHR9bq6t4', '71640-015', 'Quadra SHIS QL 14 Conjunto 1', 768, 'Setor de Habitações Individuais Sul', 'Brasília', 'DF', '(61)3537-0108', '(61)98667-1308', '1,87', '64', 'O-', 'vermelho')]

In [26]:
listacadastro =[('02','Malu Amanda Ramos', '35','881.552.861-00','26.639.250-7', '20/01/1987','Feminino','Capricórnio',
                   'Malu Stella Tereza','Kevin Miguel Ramos','maluamandaramos@wsiconsultores.com.br','tcF28pKzQR','70650-110','Quadra SHCES Quadra 101','665',
                   'Cruzeiro Novo','Brasília','DF','(61) 3654-2762','(61) 99686-8262','1,64','90','O-','laranja'),
                  ('03','Manoel Lucca Felipe da Rosa','25','958.817.080-08','43.283.105-8','08/01/1997','Masculino',
                   'Capricórnio','Mariane Alice Daiane','Miguel Theo da Rosa','manoelluccafelipedarosa@barratravel.com.br',
                   '4HDx5Oh9Dj','70235-530','Quadra CLS 205 Bloco C','329','Asa Sul','Brasília','DF','(61)3900-1397',
                   '(61)98595-6615','1,96','87','B-','amarelo'),
                  ('04','Carlos Eduardo Geraldo Lopes','60','129.185.700-10','37.155.151-1','08/01/1962','Masculino',
'Capricórnio','Malu Catarina','Vicente Filipe Julio Lopes','carloseduardogeraldolopes@bernardino.com',
'oYTmgJNQLS','68371-521','Travessa Boa Vista','168','Nova Altamira','Altamira','PA','(93)2504-5872','(93)98466-0110',
'1,60','80','B-','roxo'),
                  ('05','Victor Osvaldo Pinto','48','274.935.155-30','41.975.917-7','12/01/1974','Masculino','Capricórnio',
'Eliane Amanda','Danilo Vitor Pinto','victorosvaldopinto_@modus.com.br','nrjGm8otiP','58700-122','Travessa Leôncio Wanderley',
'550','Centro','Patos','PB','(83)2872-9763','(83)98125-5548','1,74','109','O-','azul'),
                  ('06','Isabella Tereza Sara Silva','68','861.116.655-88','27.931.065-1','02/01/1954','Feminino','Capricórnio',
                   'Joana Letícia Priscila','Victor Geraldo Silva','isabellaterezasarasilva_@santosferreira.adv.br',
'eHPIy0oGIu','24735-860','Rua Maria Catarina Nunes','711','Sacramento','São Gonçalo','RJ','(21)3621-5117','(21)99121-5301',
                   '1,68','66','AB-','preto'),
                  ('07','Kamilly Giovanna Eliane Jesus','78','278.483.894-30','22.032.720-8','04/01/1944','Feminino',
                   'Capricórnio','Mariane Lara','Raimundo César Jesus','kkamillygiovannaelianejesus@rotauniformes.com.br',
                   'iwWXNOrCJK','66615-372','Passagem Resistência','850','Marambaia','Belém','PA','(91)3597-8476',
                   '(91)98610-5756','1,53','66','O+','vermelho'),
                  ('08','Clara Vitória da Paz','78','555.660.426-60','49.020.008-4','13/01/1944','Feminino','Capricórnio',
                   'Priscila Eduarda Jaqueline','Thales Rodrigo da Paz','cclaravitoriadapaz@lucaslima.com','tpmQTTTsj8',
                   '72900-142','Quadra Quadra 119','323','Centro','Santo Antônio do Descoberto','GO','(61 2524-2651',
                   '(61)98653-5710','1,66','81','A+','vermelho'),
                  ('09','Thales Ruan Guilherme da Rosa','26','328.954.774-42','29.453.093-9','08/01/1996','Masculino',
                   'Capricórnio','Cláudia Flávia','José Danilo da Rosa','thalesruanguilhermedarosa@zignani.com.br',
                   'G7g76HXp30','49069-066','Rua Evandro Ribeiro','802','Porto DAntas','Aracaju','SE','(79)2559-0159',
                   '(79)98422-5853','1,91','67','O-','vermelho'),
                  ('10','Juliana Julia Almada','58','902.138.091-92','16.873.657-3','17/01/1964','Feminino','Capricórnio',
                   'Ayla Olivia Manuela','Hugo Renan Almada','jjulianajuliaalmada@gat.com.br','yTpGfA5i5D','91540-070',
                   'Rua João Antônio Lopes','831','Agronomia','Porto Alegre','RS','(51)3746-3602','(51)98254-7936',
                   '1,80','88','O+','amarelo')]

In [28]:
# Inserimos os dados da lista dentro da tabela
cursor.executemany("""INSERT INTO FichaCadastral VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)""", listacadastro)
print ("Dados inseridos com sucesso!")
banco.commit()

Dados inseridos com sucesso!

In [29]:
# Consulta dados da tabela 'decadastro'
cursor.execute("SELECT * FROM FichaCadastral")
print (cursor.fetchall())
print("Dados inseridos com sucesso!")

[(1, 'Igor Ruan Benício Aparício', 49, '027.934.922-05', 470102, '05/01/1973', 'Masculino', 'Capricórnio', 'Sophia Hadassa Andreia', 'Ricardo Vitor Márcio Aparício', 'igorruanbenicioaparicio_@yahool.com.br', 'hCHR9bq6t4', '71640-015', 'Quadra SHIS QL 14 Conjunto 1', 768, 'Setor de Habitações Individuais Sul', 'Brasília', 'DF', '(61)3537-0108', '(61)98667-1308', '1,87', '64', 'O-', 'vermelho'), (2, 'Malu Amanda Ramos', 35, '881.552.861-00', '26.639.250-7', '20/01/1987', 'Feminino', 'Capricórnio', 'Malu Stella Tereza', 'Kevin Miguel Ramos', 'maluamandaramos@wsiconsultores.com.br', 'tcF28pKzQR', '70650-110', 'Quadra SHCES Quadra 101', 665, 'Cruzeiro Novo', 'Brasília', 'DF', '(61) 3654-2762', '(61) 99686-8262', '1,64', '90', 'O-', 'laranja'), (3, 'Manoel Lucca Felipe da Rosa', 25, '958.817.080-08', '43.283.105-8', '08/01/1997', 'Masculino', 'Capricórnio', 'Mariane Alice Daiane', 'Miguel Theo da Rosa', 'manoelluccafelipedarosa@barratravel.com.br', '4HDx5Oh9Dj', '70235-530', 'Quadra CLS 205 Bloco C', 329, 'Asa Sul', 'Brasília', 'DF', '(61)3900-1397', '(61)98595-6615', '1,96', '87', 'B-', 'amarelo'), (4, 'Carlos Eduardo Geraldo Lopes', 60, '129.185.700-10', '37.155.151-1', '08/01/1962', 'Masculino', 'Capricórnio', 'Malu Catarina', 'Vicente Filipe Julio Lopes', 'carloseduardogeraldolopes@bernardino.com', 'oYTmgJNQLS', '68371-521', 'Travessa Boa Vista', 168, 'Nova Altamira', 'Altamira', 'PA', '(93)2504-5872', '(93)98466-0110', '1,60', '80', 'B-', 'roxo'), (5, 'Victor Osvaldo Pinto', 48, '274.935.155-30', '41.975.917-7', '12/01/1974', 'Masculino', 'Capricórnio', 'Eliane Amanda', 'Danilo Vitor Pinto', 'victorosvaldopinto_@modus.com.br', 'nrjGm8otiP', '58700-122', 'Travessa Leôncio Wanderley', 550, 'Centro', 'Patos', 'PB', '(83)2872-9763', '(83)98125-5548', '1,74', '109', 'O-', 'azul'), (6, 'Isabella Tereza Sara Silva', 68, '861.116.655-88', '27.931.065-1', '02/01/1954', 'Feminino', 'Capricórnio', 'Joana Letícia Priscila', 'Victor Geraldo Silva', 'isabellaterezasarasilva_@santosferreira.adv.br', 'eHPIy0oGIu', '24735-860', 'Rua Maria Catarina Nunes', 711, 'Sacramento', 'São Gonçalo', 'RJ', '(21)3621-5117', '(21)99121-5301', '1,68', '66', 'AB-', 'preto'), (7, 'Kamilly Giovanna Eliane Jesus', 78, '278.483.894-30', '22.032.720-8', '04/01/1944', 'Feminino', 'Capricórnio', 'Mariane Lara', 'Raimundo César Jesus', 'kkamillygiovannaelianejesus@rotauniformes.com.br', 'iwWXNOrCJK', '66615-372', 'Passagem Resistência', 850, 'Marambaia', 'Belém', 'PA', '(91)3597-8476', '(91)98610-5756', '1,53', '66', 'O+', 'vermelho'), (8, 'Clara Vitória da Paz', 78, '555.660.426-60', '49.020.008-4', '13/01/1944', 'Feminino', 'Capricórnio', 'Priscila Eduarda Jaqueline', 'Thales Rodrigo da Paz', 'cclaravitoriadapaz@lucaslima.com', 'tpmQTTTsj8', '72900-142', 'Quadra Quadra 119', 323, 'Centro', 'Santo Antônio do Descoberto', 'GO', '(61 2524-2651', '(61)98653-5710', '1,66', '81', 'A+', 'vermelho'), (9, 'Thales Ruan Guilherme da Rosa', 26, '328.954.774-42', '29.453.093-9', '08/01/1996', 'Masculino', 'Capricórnio', 'Cláudia Flávia', 'José Danilo da Rosa', 'thalesruanguilhermedarosa@zignani.com.br', 'G7g76HXp30', '49069-066', 'Rua Evandro Ribeiro', 802, 'Porto DAntas', 'Aracaju', 'SE', '(79)2559-0159', '(79)98422-5853', '1,91', '67', 'O-', 'vermelho'), (10, 'Juliana Julia Almada', 58, '902.138.091-92', '16.873.657-3', '17/01/1964', 'Feminino', 'Capricórnio', 'Ayla Olivia Manuela', 'Hugo Renan Almada', 'jjulianajuliaalmada@gat.com.br', 'yTpGfA5i5D', '91540-070', 'Rua João Antônio Lopes', 831, 'Agronomia', 'Porto Alegre', 'RS', '(51)3746-3602', '(51)98254-7936', '1,80', '88', 'O+', 'amarelo')]
Dados inseridos com sucesso!

In [35]:
#lista nome e sobrenome ondenado por sobrenome
cursor.execute("SELECT Nome, idade FROM FichaCadastral ORDER BY nome ASC")
print (cursor.fetchall())

[('Carlos Eduardo Geraldo Lopes', 60), ('Clara Vitória da Paz', 78), ('Igor Ruan Benício Aparício', 49), ('Isabella Tereza Sara Silva', 68), ('Juliana Julia Almada', 58), ('Kamilly Giovanna Eliane Jesus', 78), ('Malu Amanda Ramos', 35), ('Manoel Lucca Felipe da Rosa', 25), ('Thales Ruan Guilherme da Rosa', 26), ('Victor Osvaldo Pinto', 48)]

In [36]:
#lista nome e sobrenome ondenado por sobrenome
cursor.execute("SELECT Nome, idade FROM FichaCadastral ORDER BY nome DESC")
print (cursor.fetchall())

[('Victor Osvaldo Pinto', 48), ('Thales Ruan Guilherme da Rosa', 26), ('Manoel Lucca Felipe da Rosa', 25), ('Malu Amanda Ramos', 35), ('Kamilly Giovanna Eliane Jesus', 78), ('Juliana Julia Almada', 58), ('Isabella Tereza Sara Silva', 68), ('Igor Ruan Benício Aparício', 49), ('Clara Vitória da Paz', 78), ('Carlos Eduardo Geraldo Lopes', 60)]

In [40]:
# Listar todos os campos de funcionários ordenados por cidade
cursor.execute("SELECT * FROM FichaCadastral ORDER BY Cidade ASC")
print (cursor.fetchall())

[(4, 'Carlos Eduardo Geraldo Lopes', 60, '129.185.700-10', '37.155.151-1', '08/01/1962', 'Masculino', 'Capricórnio', 'Malu Catarina', 'Vicente Filipe Julio Lopes', 'carloseduardogeraldolopes@bernardino.com', 'oYTmgJNQLS', '68371-521', 'Travessa Boa Vista', 168, 'Nova Altamira', 'Altamira', 'PA', '(93)2504-5872', '(93)98466-0110', '1,60', '80', 'B-', 'roxo'), (9, 'Thales Ruan Guilherme da Rosa', 26, '328.954.774-42', '29.453.093-9', '08/01/1996', 'Masculino', 'Capricórnio', 'Cláudia Flávia', 'José Danilo da Rosa', 'thalesruanguilhermedarosa@zignani.com.br', 'G7g76HXp30', '49069-066', 'Rua Evandro Ribeiro', 802, 'Porto DAntas', 'Aracaju', 'SE', '(79)2559-0159', '(79)98422-5853', '1,91', '67', 'O-', 'vermelho'), (7, 'Kamilly Giovanna Eliane Jesus', 78, '278.483.894-30', '22.032.720-8', '04/01/1944', 'Feminino', 'Capricórnio', 'Mariane Lara', 'Raimundo César Jesus', 'kkamillygiovannaelianejesus@rotauniformes.com.br', 'iwWXNOrCJK', '66615-372', 'Passagem Resistência', 850, 'Marambaia', 'Belém', 'PA', '(91)3597-8476', '(91)98610-5756', '1,53', '66', 'O+', 'vermelho'), (1, 'Igor Ruan Benício Aparício', 49, '027.934.922-05', 470102, '05/01/1973', 'Masculino', 'Capricórnio', 'Sophia Hadassa Andreia', 'Ricardo Vitor Márcio Aparício', 'igorruanbenicioaparicio_@yahool.com.br', 'hCHR9bq6t4', '71640-015', 'Quadra SHIS QL 14 Conjunto 1', 768, 'Setor de Habitações Individuais Sul', 'Brasília', 'DF', '(61)3537-0108', '(61)98667-1308', '1,87', '64', 'O-', 'vermelho'), (2, 'Malu Amanda Ramos', 35, '881.552.861-00', '26.639.250-7', '20/01/1987', 'Feminino', 'Capricórnio', 'Malu Stella Tereza', 'Kevin Miguel Ramos', 'maluamandaramos@wsiconsultores.com.br', 'tcF28pKzQR', '70650-110', 'Quadra SHCES Quadra 101', 665, 'Cruzeiro Novo', 'Brasília', 'DF', '(61) 3654-2762', '(61) 99686-8262', '1,64', '90', 'O-', 'laranja'), (3, 'Manoel Lucca Felipe da Rosa', 25, '958.817.080-08', '43.283.105-8', '08/01/1997', 'Masculino', 'Capricórnio', 'Mariane Alice Daiane', 'Miguel Theo da Rosa', 'manoelluccafelipedarosa@barratravel.com.br', '4HDx5Oh9Dj', '70235-530', 'Quadra CLS 205 Bloco C', 329, 'Asa Sul', 'Brasília', 'DF', '(61)3900-1397', '(61)98595-6615', '1,96', '87', 'B-', 'amarelo'), (5, 'Victor Osvaldo Pinto', 48, '274.935.155-30', '41.975.917-7', '12/01/1974', 'Masculino', 'Capricórnio', 'Eliane Amanda', 'Danilo Vitor Pinto', 'victorosvaldopinto_@modus.com.br', 'nrjGm8otiP', '58700-122', 'Travessa Leôncio Wanderley', 550, 'Centro', 'Patos', 'PB', '(83)2872-9763', '(83)98125-5548', '1,74', '109', 'O-', 'azul'), (10, 'Juliana Julia Almada', 58, '902.138.091-92', '16.873.657-3', '17/01/1964', 'Feminino', 'Capricórnio', 'Ayla Olivia Manuela', 'Hugo Renan Almada', 'jjulianajuliaalmada@gat.com.br', 'yTpGfA5i5D', '91540-070', 'Rua João Antônio Lopes', 831, 'Agronomia', 'Porto Alegre', 'RS', '(51)3746-3602', '(51)98254-7936', '1,80', '88', 'O+', 'amarelo'), (8, 'Clara Vitória da Paz', 78, '555.660.426-60', '49.020.008-4', '13/01/1944', 'Feminino', 'Capricórnio', 'Priscila Eduarda Jaqueline', 'Thales Rodrigo da Paz', 'cclaravitoriadapaz@lucaslima.com', 'tpmQTTTsj8', '72900-142', 'Quadra Quadra 119', 323, 'Centro', 'Santo Antônio do Descoberto', 'GO', '(61 2524-2651', '(61)98653-5710', '1,66', '81', 'A+', 'vermelho'), (6, 'Isabella Tereza Sara Silva', 68, '861.116.655-88', '27.931.065-1', '02/01/1954', 'Feminino', 'Capricórnio', 'Joana Letícia Priscila', 'Victor Geraldo Silva', 'isabellaterezasarasilva_@santosferreira.adv.br', 'eHPIy0oGIu', '24735-860', 'Rua Maria Catarina Nunes', 711, 'Sacramento', 'São Gonçalo', 'RJ', '(21)3621-5117', '(21)99121-5301', '1,68', '66', 'AB-', 'preto')]

In [41]:
# Listar todos os campos de funcionários ordenados por cidade
cursor.execute("SELECT Estado, Cidade FROM FichaCadastral ORDER BY Estado ASC")
print (cursor.fetchall())

[('DF', 'Brasília'), ('DF', 'Brasília'), ('DF', 'Brasília'), ('GO', 'Santo Antônio do Descoberto'), ('PA', 'Altamira'), ('PA', 'Belém'), ('PB', 'Patos'), ('RJ', 'São Gonçalo'), ('RS', 'Porto Alegre'), ('SE', 'Aracaju')]

In [ ]:
# Liste os funcionários que têm salário superior a R$ 1.000,00 ordenados pelo nome completo, CorFavorita

In [42]:
cursor.execute("SELECT * FROM FichaCadastral WHERE  CorFavorita = 'preto' OR Signo = 'Capricórnio'")
print (cursor.fetchall())

[(1, 'Igor Ruan Benício Aparício', 49, '027.934.922-05', 470102, '05/01/1973', 'Masculino', 'Capricórnio', 'Sophia Hadassa Andreia', 'Ricardo Vitor Márcio Aparício', 'igorruanbenicioaparicio_@yahool.com.br', 'hCHR9bq6t4', '71640-015', 'Quadra SHIS QL 14 Conjunto 1', 768, 'Setor de Habitações Individuais Sul', 'Brasília', 'DF', '(61)3537-0108', '(61)98667-1308', '1,87', '64', 'O-', 'vermelho'), (2, 'Malu Amanda Ramos', 35, '881.552.861-00', '26.639.250-7', '20/01/1987', 'Feminino', 'Capricórnio', 'Malu Stella Tereza', 'Kevin Miguel Ramos', 'maluamandaramos@wsiconsultores.com.br', 'tcF28pKzQR', '70650-110', 'Quadra SHCES Quadra 101', 665, 'Cruzeiro Novo', 'Brasília', 'DF', '(61) 3654-2762', '(61) 99686-8262', '1,64', '90', 'O-', 'laranja'), (3, 'Manoel Lucca Felipe da Rosa', 25, '958.817.080-08', '43.283.105-8', '08/01/1997', 'Masculino', 'Capricórnio', 'Mariane Alice Daiane', 'Miguel Theo da Rosa', 'manoelluccafelipedarosa@barratravel.com.br', '4HDx5Oh9Dj', '70235-530', 'Quadra CLS 205 Bloco C', 329, 'Asa Sul', 'Brasília', 'DF', '(61)3900-1397', '(61)98595-6615', '1,96', '87', 'B-', 'amarelo'), (4, 'Carlos Eduardo Geraldo Lopes', 60, '129.185.700-10', '37.155.151-1', '08/01/1962', 'Masculino', 'Capricórnio', 'Malu Catarina', 'Vicente Filipe Julio Lopes', 'carloseduardogeraldolopes@bernardino.com', 'oYTmgJNQLS', '68371-521', 'Travessa Boa Vista', 168, 'Nova Altamira', 'Altamira', 'PA', '(93)2504-5872', '(93)98466-0110', '1,60', '80', 'B-', 'roxo'), (5, 'Victor Osvaldo Pinto', 48, '274.935.155-30', '41.975.917-7', '12/01/1974', 'Masculino', 'Capricórnio', 'Eliane Amanda', 'Danilo Vitor Pinto', 'victorosvaldopinto_@modus.com.br', 'nrjGm8otiP', '58700-122', 'Travessa Leôncio Wanderley', 550, 'Centro', 'Patos', 'PB', '(83)2872-9763', '(83)98125-5548', '1,74', '109', 'O-', 'azul'), (6, 'Isabella Tereza Sara Silva', 68, '861.116.655-88', '27.931.065-1', '02/01/1954', 'Feminino', 'Capricórnio', 'Joana Letícia Priscila', 'Victor Geraldo Silva', 'isabellaterezasarasilva_@santosferreira.adv.br', 'eHPIy0oGIu', '24735-860', 'Rua Maria Catarina Nunes', 711, 'Sacramento', 'São Gonçalo', 'RJ', '(21)3621-5117', '(21)99121-5301', '1,68', '66', 'AB-', 'preto'), (7, 'Kamilly Giovanna Eliane Jesus', 78, '278.483.894-30', '22.032.720-8', '04/01/1944', 'Feminino', 'Capricórnio', 'Mariane Lara', 'Raimundo César Jesus', 'kkamillygiovannaelianejesus@rotauniformes.com.br', 'iwWXNOrCJK', '66615-372', 'Passagem Resistência', 850, 'Marambaia', 'Belém', 'PA', '(91)3597-8476', '(91)98610-5756', '1,53', '66', 'O+', 'vermelho'), (8, 'Clara Vitória da Paz', 78, '555.660.426-60', '49.020.008-4', '13/01/1944', 'Feminino', 'Capricórnio', 'Priscila Eduarda Jaqueline', 'Thales Rodrigo da Paz', 'cclaravitoriadapaz@lucaslima.com', 'tpmQTTTsj8', '72900-142', 'Quadra Quadra 119', 323, 'Centro', 'Santo Antônio do Descoberto', 'GO', '(61 2524-2651', '(61)98653-5710', '1,66', '81', 'A+', 'vermelho'), (9, 'Thales Ruan Guilherme da Rosa', 26, '328.954.774-42', '29.453.093-9', '08/01/1996', 'Masculino', 'Capricórnio', 'Cláudia Flávia', 'José Danilo da Rosa', 'thalesruanguilhermedarosa@zignani.com.br', 'G7g76HXp30', '49069-066', 'Rua Evandro Ribeiro', 802, 'Porto DAntas', 'Aracaju', 'SE', '(79)2559-0159', '(79)98422-5853', '1,91', '67', 'O-', 'vermelho'), (10, 'Juliana Julia Almada', 58, '902.138.091-92', '16.873.657-3', '17/01/1964', 'Feminino', 'Capricórnio', 'Ayla Olivia Manuela', 'Hugo Renan Almada', 'jjulianajuliaalmada@gat.com.br', 'yTpGfA5i5D', '91540-070', 'Rua João Antônio Lopes', 831, 'Agronomia', 'Porto Alegre', 'RS', '(51)3746-3602', '(51)98254-7936', '1,80', '88', 'O+', 'amarelo')]

In [48]:
# Seleciona dados da tabela ficha cadastral onde o nome e a idade são especificados 
cursor.execute("SELECT * FROM FichaCadastral WHERE nome = 'Isabella Tereza Sara Silva' AND idade = '68'") 
print (cursor.fetchall())

[(6, 'Isabella Tereza Sara Silva', 68, '861.116.655-88', '27.931.065-1', '02/01/1954', 'Feminino', 'Capricórnio', 'Joana Letícia Priscila', 'Victor Geraldo Silva', 'isabellaterezasarasilva_@santosferreira.adv.br', 'eHPIy0oGIu', '24735-860', 'Rua Maria Catarina Nunes', 711, 'Sacramento', 'São Gonçalo', 'RJ', '(21)3621-5117', '(21)99121-5301', '1,68', '66', 'AB-', 'preto')]

In [55]:
cursor.execute("SELECT * FROM FichaCadastral WHERE NOT TipodeSangue = 'O-' OR TipodeSangue = 'B-'")
print (cursor.fetchall())

[(3, 'Manoel Lucca Felipe da Rosa', 25, '958.817.080-08', '43.283.105-8', '08/01/1997', 'Masculino', 'Capricórnio', 'Mariane Alice Daiane', 'Miguel Theo da Rosa', 'manoelluccafelipedarosa@barratravel.com.br', '4HDx5Oh9Dj', '70235-530', 'Quadra CLS 205 Bloco C', 329, 'Asa Sul', 'Brasília', 'DF', '(61)3900-1397', '(61)98595-6615', '1,96', '87', 'B-', 'amarelo'), (4, 'Carlos Eduardo Geraldo Lopes', 60, '129.185.700-10', '37.155.151-1', '08/01/1962', 'Masculino', 'Capricórnio', 'Malu Catarina', 'Vicente Filipe Julio Lopes', 'carloseduardogeraldolopes@bernardino.com', 'oYTmgJNQLS', '68371-521', 'Travessa Boa Vista', 168, 'Nova Altamira', 'Altamira', 'PA', '(93)2504-5872', '(93)98466-0110', '1,60', '80', 'B-', 'roxo'), (6, 'Isabella Tereza Sara Silva', 68, '861.116.655-88', '27.931.065-1', '02/01/1954', 'Feminino', 'Capricórnio', 'Joana Letícia Priscila', 'Victor Geraldo Silva', 'isabellaterezasarasilva_@santosferreira.adv.br', 'eHPIy0oGIu', '24735-860', 'Rua Maria Catarina Nunes', 711, 'Sacramento', 'São Gonçalo', 'RJ', '(21)3621-5117', '(21)99121-5301', '1,68', '66', 'AB-', 'preto'), (7, 'Kamilly Giovanna Eliane Jesus', 78, '278.483.894-30', '22.032.720-8', '04/01/1944', 'Feminino', 'Capricórnio', 'Mariane Lara', 'Raimundo César Jesus', 'kkamillygiovannaelianejesus@rotauniformes.com.br', 'iwWXNOrCJK', '66615-372', 'Passagem Resistência', 850, 'Marambaia', 'Belém', 'PA', '(91)3597-8476', '(91)98610-5756', '1,53', '66', 'O+', 'vermelho'), (8, 'Clara Vitória da Paz', 78, '555.660.426-60', '49.020.008-4', '13/01/1944', 'Feminino', 'Capricórnio', 'Priscila Eduarda Jaqueline', 'Thales Rodrigo da Paz', 'cclaravitoriadapaz@lucaslima.com', 'tpmQTTTsj8', '72900-142', 'Quadra Quadra 119', 323, 'Centro', 'Santo Antônio do Descoberto', 'GO', '(61 2524-2651', '(61)98653-5710', '1,66', '81', 'A+', 'vermelho'), (10, 'Juliana Julia Almada', 58, '902.138.091-92', '16.873.657-3', '17/01/1964', 'Feminino', 'Capricórnio', 'Ayla Olivia Manuela', 'Hugo Renan Almada', 'jjulianajuliaalmada@gat.com.br', 'yTpGfA5i5D', '91540-070', 'Rua João Antônio Lopes', 831, 'Agronomia', 'Porto Alegre', 'RS', '(51)3746-3602', '(51)98254-7936', '1,80', '88', 'O+', 'amarelo')]

In [50]:
# Liste a data de nascimento e o primeiro nome dos funcionários ordenados do mais novo para o mais velho
cursor.execute("SELECT DataNasci,nome,idade FROM FichaCadastral ORDER BY idade ASC")
print (cursor.fetchall())

[('08/01/1997', 'Manoel Lucca Felipe da Rosa', 25), ('08/01/1996', 'Thales Ruan Guilherme da Rosa', 26), ('20/01/1987', 'Malu Amanda Ramos', 35), ('12/01/1974', 'Victor Osvaldo Pinto', 48), ('05/01/1973', 'Igor Ruan Benício Aparício', 49), ('17/01/1964', 'Juliana Julia Almada', 58), ('08/01/1962', 'Carlos Eduardo Geraldo Lopes', 60), ('02/01/1954', 'Isabella Tereza Sara Silva', 68), ('04/01/1944', 'Kamilly Giovanna Eliane Jesus', 78), ('13/01/1944', 'Clara Vitória da Paz', 78)]

In [56]:
cursor.execute("SELECT nome, Email FROM FichaCadastral GROUP BY nome")
print (cursor.fetchall())

[('Carlos Eduardo Geraldo Lopes', 'carloseduardogeraldolopes@bernardino.com'), ('Clara Vitória da Paz', 'cclaravitoriadapaz@lucaslima.com'), ('Igor Ruan Benício Aparício', 'igorruanbenicioaparicio_@yahool.com.br'), ('Isabella Tereza Sara Silva', 'isabellaterezasarasilva_@santosferreira.adv.br'), ('Juliana Julia Almada', 'jjulianajuliaalmada@gat.com.br'), ('Kamilly Giovanna Eliane Jesus', 'kkamillygiovannaelianejesus@rotauniformes.com.br'), ('Malu Amanda Ramos', 'maluamandaramos@wsiconsultores.com.br'), ('Manoel Lucca Felipe da Rosa', 'manoelluccafelipedarosa@barratravel.com.br'), ('Thales Ruan Guilherme da Rosa', 'thalesruanguilhermedarosa@zignani.com.br'), ('Victor Osvaldo Pinto', 'victorosvaldopinto_@modus.com.br')]

In [58]:
# Liste o total da folha de pagamento, somei as idades pq na minha tabela não tem pagamento
sql = """SELECT SUM(idade)
FROM FichaCadastral
WHERE idade > '18'"""
cursor.execute(sql)
cursor.fetchall()

[(525,)]

In [57]:
sql = """SELECT COUNT(nome)
FROM FichaCadastral
WHERE nome = 'Malu Amanda Ramos'"""
cursor.execute(sql)
cursor.fetchall()

[(1,)]

In [59]:
sql = """SELECT AVG(idade)
FROM FichaCadastral
WHERE idade>'18'"""
cursor.execute(sql)
cursor.fetchall()

[(52.5,)]

In [60]:
# Liste o nome, o nome do departamento e a função de todos os funcionários, neste fiz com nome, nome da mae(Mãe) e nome do Pai
cursor.execute("SELECT nome,Mãe,Pai FROM FichaCadastral GROUP BY nome")
print (cursor.fetchall())

[('Carlos Eduardo Geraldo Lopes', 'Malu Catarina', 'Vicente Filipe Julio Lopes'), ('Clara Vitória da Paz', 'Priscila Eduarda Jaqueline', 'Thales Rodrigo da Paz'), ('Igor Ruan Benício Aparício', 'Sophia Hadassa Andreia', 'Ricardo Vitor Márcio Aparício'), ('Isabella Tereza Sara Silva', 'Joana Letícia Priscila', 'Victor Geraldo Silva'), ('Juliana Julia Almada', 'Ayla Olivia Manuela', 'Hugo Renan Almada'), ('Kamilly Giovanna Eliane Jesus', 'Mariane Lara', 'Raimundo César Jesus'), ('Malu Amanda Ramos', 'Malu Stella Tereza', 'Kevin Miguel Ramos'), ('Manoel Lucca Felipe da Rosa', 'Mariane Alice Daiane', 'Miguel Theo da Rosa'), ('Thales Ruan Guilherme da Rosa', 'Cláudia Flávia', 'José Danilo da Rosa'), ('Victor Osvaldo Pinto', 'Eliane Amanda', 'Danilo Vitor Pinto')]

In [70]:
# Liste a quantidade de funcionários desta empresa, liste a quantidade de pessoas cadastradas.
sql = """SELECT SUM(Código)
FROM FichaCadastral
WHERE Código>'9'"""
cursor.execute(sql)
cursor.fetchall()

[(10,)]

In [69]:
sql = """SELECT SUM(Código)
FROM FichaCadastral"""
cursor.execute(sql)
cursor.fetchall()

[(55,)]

In [ ]:
# Liste o nome do departamento e do funcionário ordenados por departamento e funcionário

In [71]:
cursor.execute("SELECT Cidade, Estado FROM FichaCadastral ORDER BY Cidade,Estado ASC")
print (cursor.fetchall())

[('Altamira', 'PA'), ('Aracaju', 'SE'), ('Belém', 'PA'), ('Brasília', 'DF'), ('Brasília', 'DF'), ('Brasília', 'DF'), ('Patos', 'PB'), ('Porto Alegre', 'RS'), ('Santo Antônio do Descoberto', 'GO'), ('São Gonçalo', 'RJ')]

In [74]:
cursor.execute("SELECT Cidade, Estado FROM FichaCadastral ORDER BY estado,cidade DESC")
print (cursor.fetchall())

[('Brasília', 'DF'), ('Brasília', 'DF'), ('Brasília', 'DF'), ('Santo Antônio do Descoberto', 'GO'), ('Belém', 'PA'), ('Altamira', 'PA'), ('Patos', 'PB'), ('São Gonçalo', 'RJ'), ('Porto Alegre', 'RS'), ('Aracaju', 'SE')]

In [9]:
# Deleta tabela departamentos caso necessário
cursor.execute("DROP TABLE FichaCadastral")
print("Tabela deletada com sucesso!")

Tabela deletada com sucesso!